@model BulkyBook.Models.Models.Product

<div class="card shadow-lg  border-0 mt-5 ">

    <div class="card-header bg-info bg-gradient py-3 m-lg-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2 fw-bold">
                    CREATE CATEGORY
                </h2>

            </div>
        </div>

    </div>
    <div class="card-body px-4 pt-1 pb-2">
        <form method="post" class="row p-3">



            <div class="border mt-4 px-5 py-3">


                <div class="form-floating m-3">
                    <input asp-for="Title" class="form-control" placeholder="Product Title" />
                    <label asp-for="Title">Product Name</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-floating m-3">
                    <input asp-for="ISBN" class="form-control" placeholder="ISBN" />
                    <label asp-for="ISBN">ISBN</label>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>


                <div class="form-floating m-3">
                    <input asp-for="Author" class="form-control" placeholder="Author" />
                    <label asp-for="Author">Author</label>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-floating m-3">
                    <input asp-for="ListPrice" class="form-control" placeholder="List Price" />
                    <label asp-for="ListPrice">List Price</label>
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>

                <div class="form-floating m-3">
                    <input asp-for="Price" class="form-control" placeholder="Price" />
                    <label asp-for="Price">Price</label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-floating m-3">
                    <input asp-for="Price50" class="form-control" placeholder="Price 50" />
                    <label asp-for="Price50">Price 50 </label>
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>

                <div class="form-floating m-3">
                    <input asp-for="Price100" class="form-control" placeholder="Price 100" />
                    <label asp-for="Price100">Price 100</label>
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>

                <div class="form-floating m-3">
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-1 shadow" placeholder="Category Id">
                       <option disabled selected>
                           -- Select Category --
                       </option>
                    </select>
                    <label asp-for="CategoryId">Category Id</label>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>



                <div class="row m-3">
                    <div class="col-lg-6 col-md-3">
                        <button type="submit" class="btn btn-primary" style="width:150px">
                            Create
                        </button>

                    </div>
                    <div class="col-lg-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control" style="width:150px">
                            Back to List
                        </a>

                    </div>

                </div>



            </div>

        </form>

    </div>

</div>




@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}