@page
@model BulkyBookWebRazor_Temp.Pages.Categories.DeleteModel
@{
}


<form method="post">
    <input asp-for="Category.Id" hidden />
    <div class="border mt-4 p-3">
        <div class="row pb-2">
            <h2 class="text-primary">
                Delete Category
            </h2>
            <hr />
        </div>


        <div class="mb-3 row p-1">
            <label asp-for="Category.Name" class="p-1">

            </label>
            <input disabled asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger">
            </span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Category.DisplayOrder" class="p-1">

            </label>
            <input disabled asp-for="Category.DisplayOrder" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-3">
                <button type="submit" class="btn btn-danger" style="width:150px">
                    Delete
                </button>

            </div>
            <div class="col-lg-6 col-md-3">
                <a asp-page="/categories/index" class="btn btn-outline-secondary form-control" style="width:150px">
                    Back to List
                </a>

            </div>

        </div>



    </div>

</form>
